<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books detail</title>
</head>
<body>
<center>
    <button><a href="/books/">Back</a></button>
    <h3>Название фильма</h3>
  <h1>{{object_detail.title}}</h1>
  <img src="{{object_detail.image.url}}" alt="" width="200" height="200">
    <h3>Описание</h3>
  <p>{{object_detail.description}}</p>
    <h3>колличество тайтлов</h3>
  <p><b>{{object_detail.quantity}}</b></p>
    <h3>Жанр</h3>
  <p><b>{{object_detail.genre}}</b></p>
    <h3>Дата загрузки</h3>
  <p><i>{{object_detail.created_date}}</i></p>
</center>

<button><a href="/books/{{object_detail.is}}/uptade/">Uptade</a></button>
<button><a href="/books/{{object_detail.is}}/delete/">Delete</a></button>

</body>
</html>